@font-face {
  font-family: power;
  src: url(../../../public/fonts/PowerGroteskTRIAL-Medium.otf);
}

@font-face {
  font-family: griaste;
  src: url(../../../public/fonts/Griastetrial.otf);
}

.about-container {
  overflow: hidden;
  padding-top: 100px;
  height: 100vh;
}
.spline {
  position: absolute;
  z-index: -1;
}

.au-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 12px;
  max-width: 1300px;
  margin: 0px auto;
}

.au-row1 {
  display: flex;
  gap: 12px;
  font-family: power;
  color: #e8d2ff;
}

.au-row2 {
  display: flex;
  gap: 12px;
  text-wrap: pretty;
}

.vid {
  border-radius: 25px;
  width: 200%;
  overflow: hidden;
}

.au-row1 h1,
.au-row2 h1 {
  font-family: mollie glaston;
  font-weight: bold;
  text-transform: uppercase;
  -webkit-text-fill-color: transparent;
  background: linear-gradient(
    90deg,
    rgb(231.72, 209.95, 255) 30%,
    rgb(82, 39, 133) 90%
  );
  background-clip: text;
  font-size: 3em;
  text-align: center;
}

.au-row2 p,
.au-row1 p {
  font-family: Neue Montreal;
  font-family: power;
  font-weight: 500;
  color: #e8d2ff;
  font-size: 1.25em;
  line-height: 1.4;
  margin-bottom: 40px;
  letter-spacing: 0.2px;
}

.au-col1,
.au-col2 {
  -webkit-backdrop-filter: blur(20px) brightness(100%);
  backdrop-filter: blur(20px) brightness(100%);
  background-color: rgba(3, 0, 20, 0.3);
  border-radius: 25px;
  padding: 0.5em 2.5em;
}

@media (max-width: 767px) {
  .au-content {
    max-width: 767px;
    margin: 52px auto;
    padding: 10px 20px;
  }

  .vid {
    border-radius: 25px;
    width: 100%;
  }

  .au-row1,
  .au-row2 {
    padding: 10px 14px;
  }

  .au-row1 h1,
  .au-row2 h1 {
    font-size: 1.5em;
  }

  .au-row2,
  .au-row1 {
    display: flex;
    flex-direction: column;
    gap: 12px;
    text-wrap: pretty;
  }

  .au-row2 p {
    font-size: 1em;
  }
}
