.fourth-page {
  padding-top: 8vh;
}

.faq-wrapper {
  width: 50vw;
  margin: 0 auto;
}

.question {
  font-family: Inter;
  font-weight: 500;
  font-size: 1.2rem;
}

.answer {
  font-family: Inter;
  font-weight: 500;
  font-size: 1rem;
}

@media (max-width: 767px) {
  .faq-wrapper {
    width: 90vw;
  }
  .question {
    font-size: 1rem;
  }

  .answer {
    font-size: 0.8rem;
  }
}
