@font-face {
  font-family: aesthetic;
  src: url(../../../public/fonts/Aesthetic-Regular.ttf);
}

@font-face {
  font-family: ebg;
  src: url(../../../public/fonts/EBGaramond-Italic-VariableFont_wght.ttf);
}

.marketplace-container {
  height: 100%;
  min-height: 100vh;
  position: relative;
  width: 100vw;
  overflow: hidden;
  margin: 0px auto;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  background: url(../../assets/purple.webp) no-repeat right bottom fixed;
  background-size: cover;
}

.mp-first-page {
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 120px;
}

.marketplace-hero-text {
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-left: 60px;
}

.marketplace-nfts {
  flex: 1.5;
  margin-right: 40px;
}

.marketplace-hero-text > div {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 10px;
}

.marketplace-hero-text h1 {
  font-family: POWER;
  font-size: 5em;
  background: linear-gradient(60deg, #f9f3ff 0%, #9661e1 30%, #5401ff 90%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  mix-blend-mode: screen;
  filter: contrast(120%) brightness(120%);
  text-transform: uppercase;
  text-wrap: nowrap;
}

.marketplace-hero-text p {
  color: #f4e8ff;
  font-size: 0.8em;
  font-family: inter;
  font-weight: 500;
  padding-right: 20px;
}

.marketplace-content {
  margin-top: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.mp-btns {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  margin-top: 40px;
}

.stacked-nft-cards {
  position: relative;
  width: 300px;
  height: 450px;
  /* margin: 0 auto; */
}

.nft-card {
  position: absolute;
  width: 300px;
  height: 420px;
  background: #5601ff32;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease;
  padding: 10px;
}

.nft-card:hover {
  transform: scale(1.05);
}

.nft-card-image {
  width: 100%;
  height: 350px;
  object-fit: cover;
  border-radius: 10px;
}

.nft-card-details {
  color: #f9f3ff;
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-top: 4px;
  margin-left: 4px;
}

.nft-card-details h2 {
  font-family: hanson;
  font-size: 1.2em;
}

.nft-card-details > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nft-card-details p {
  font-family: inter;
  font-size: 0.8em;
}

/* Stacking effect */
.stacked-card-0 {
  top: 0;
  left: 0;
}

.stacked-card-1 {
  top: 0px;
  left: 120px;
  scale: 0.8;
}

.stacked-card-2 {
  top: 0px;
  left: 240px;
  scale: 0.6;
}

/* .stacked-card-1 .nft-card-details,
.stacked-card-2 .nft-card-details {
  opacity: 0;
} */

.mp-second-page p {
  font-family: inter;
}

.marketplace-content p span {
  font-family: power;
  font-size: 48px;
  letter-spacing: -1.8px;
  background: linear-gradient(90deg, #ceabff 0%, #9661e1 50%, #e8f400 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 4px;
  mix-blend-mode: screen;
  filter: contrast(120%) brightness(120%);
}

.mp-third-page p,
.mp-second-page p {
  font-family: ebg;
  font-weight: normal;
  font-size: 24px;
  color: #e5d2ff;
  text-align: center;
}

.mp-second-page p {
  font-family: inter;
  font-size: 14px;
  line-height: 2;
}

.nft-categories {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.category-button {
  font-family: Inter;
  font-weight: 600;
  letter-spacing: -1px;
  padding: 10px 20px;
  margin: 0 10px;
  background-color: transparent;
  color: #f4e8ff;
  border: 2px solid #ceabff;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.category-button.active-category {
  background-color: #ceabff;
  color: #783bcd;
  border: 2px solid #ceabff;
}

.sp-nft-cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px;
  perspective: 1000px;
}

.sp-nft-image-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.sp-nft-card {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.2) 0%,
    rgba(115, 0, 255, 0.6) 100%
  );
  backdrop-filter: blur(20px);
  height: 400px;
  border-radius: 20px;
  color: aliceblue;
  width: 300px;
  padding: 10px;
  padding-bottom: 20px;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.5);
}

.sp-nft-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.85) 10%, transparent 50%);
  z-index: 1;
  border-radius: 20px;
}

.sp-nft-image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
  z-index: 0;
  border-radius: 20px;
}

.text-overlay {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0px;
  bottom: 20px;
  left: 20px;
  color: #e5d2ff;
  z-index: 2;
}

.text-overlay h3 {
  font-family: hanson;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.card-middle {
  transform: scale(1);
  z-index: 2;
  transition: all 0.3s ease;
}

.card-middle:hover {
  transform: scale(1.15);
  z-index: 3;
}

.card-left {
  transform: scale(0.9) translateX(-10px) rotateY(-10deg);
  z-index: 1;
  transition: all 0.3s ease;
}

.card-left:hover {
  transform: scale(1.15) translateX(80px);
  z-index: 3;
}

.card-right {
  transform: scale(0.9) translateX(10px) rotateY(10deg);
  z-index: 1;
  transition: all 0.3s ease;
}

.card-right:hover {
  transform: scale(1.15) translateX(-80px);
  z-index: 3;
}

.mint-button {
  background: linear-gradient(90deg, #9661e1 20%, #ceabff 80%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  font-family: aesthetic;
  font-weight: bold;
  font-size: 24px;
  border: 2.2px solid #9661e1;
  padding: 0.2em 0.8em 0em 0.8em;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.view-more-button {
  color: #e5d2ff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-size: 1.2em;
  margin-top: 10px;
}

.view-more-button ion-icon {
  padding-top: 2px;
}

@media (max-width: 767px) {
  .mp-first-page {
    /* margin-top: 20px; */
    flex-direction: column-reverse;
    gap: 20px;
  }
  .marketplace-hero-text {
    padding-left: 20px;
    align-items: center;
  }
  .marketplace-hero-text h1 {
    font-size: 2.2em;
    margin-bottom: 0px;
  }

  .marketplace-hero-text p {
    text-align: center;
  }

  .marketplace-nfts {
    margin-bottom: -100px;
    margin-top: 20px;
  }

  .stacked-nft-cards {
    width: 240px;
    height: 300px;
    margin-bottom: 80px;
  }

  .nft-card {
    width: 200px;
    height: 250px;
  }

  .nft-card-image {
    height: 180px;
  }

  .stacked-card-0 {
    top: 0;
    left: 0;
  }

  .stacked-card-1 {
    top: 0px;
    left: 80px;
    scale: 0.8;
  }

  .stacked-card-2 {
    top: 0px;
    left: 160px;
    scale: 0.6;
  }

  .mp-btns {
    flex-direction: column;
  }

  .marketplace-content {
    padding: 10px 20px;
  }

  .sp-nft-cards {
    flex-direction: column;
    gap: 20px;
    perspective: 1000px;
  }

  .card-middle {
    transform: scale(1);
    z-index: 2;
    transition: all 0.3s ease;
  }

  .card-middle:hover {
    transform: scale(1.15);
    z-index: 3;
  }

  .card-left {
    transform: scale(0.9);
    z-index: 1;
    transition: all 0.3s ease;
  }

  .card-left:hover {
    transform: scale(1.15);
    z-index: 3;
  }

  .card-right {
    transform: scale(0.9);
    z-index: 1;
    transition: all 0.3s ease;
  }

  .card-right:hover {
    transform: scale(1.15);
    z-index: 3;
  }
}
