@font-face {
  font-family: Aesthetic;
  src: url(../../../public/fonts/Aesthetic-Regular.ttf);
}

@font-face {
  font-family: Hanson;
  src: url(../../../public/fonts/Hanson-Bold.otf);
}

@font-face {
  font-family: up;
  src: url(../../../public/fonts/upheavtt.ttf);
}

.third-page h1 {
  font-family: Hanson;
  font-size: 3.8em;
  text-align: center;
  margin-top: 140px;
  font-style: italic;
  -webkit-text-fill-color: transparent;
  background: linear-gradient(90deg, #ffffff 30%, #e8d14c 50%);
  background-clip: text;
  -webkit-background-clip: text;
}

.members {
  margin-top: 10px;
  padding: 20px;
  display: flex;
  justify-content: center;
  gap: 4rem;
}

.member {
  position: relative;
  width: 250px;
  height: 300px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease;
  background: linear-gradient(180deg, #6e4eff, #ffe23e);
  padding: 6px;
}

.member:hover {
  transform: translateY(-10px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.55);
}

.pfp-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.pfp-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.info-wrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  font-weight: normal;
  backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.1);
  color: #dce4ff;
  font-family: up;
  text-align: center;
  transition: all 0.5s ease;
}

.info-wrapper h2 {
  font-size: 1.8rem;
  font-weight: normal;
}

.info-wrapper p {
  font-size: 1rem;
}

.member:hover .info-wrapper {
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
}

.carousel-container {
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: 40px auto;
  padding: 0 20px;
}

.carousel {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  width: 100%;
  margin: 0 auto;
}

.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  /* background-color: rgba(0, 0, 0, 0.5); */
  border: none;
  color: #fff;
  font-size: 2rem;
  cursor: pointer;
  padding: 10px;
  z-index: 200;
  transition: all 0.3s ease;
}

.carousel-button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.carousel-button.left {
  left: 5%;
}

.carousel-button.right {
  right: 5%;
}

@media (max-width: 767px) {
  .third-page h1 {
    font-size: 2.5em;
    margin-top: 100px;
  }

  .member {
    width: 105px;
    height: 150px;
    overflow: hidden;
    padding: 3px;
  }
  /* .carousel {
    flex-direction: column;
    gap: 1rem;
    align-items: center;
  } */

  .info-wrapper {
    padding: 2px;
  }
  .info-wrapper h2 {
    font-size: 0.8em;
    font-weight: normal;
  }

  .info-wrapper p {
    font-size: 0.6rem;
  }
  .carousel-button {
    font-size: 1.2rem;
  }

  .carousel-container {
    padding: 0pa 4px;
    margin: 40px auto;
  }
  .carousel {
    gap: 0.5rem;
  }
  .carousel-button.left {
    left: 1%;
  }

  .carousel-button.right {
    right: 1%;
  }
}
