@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: geometricPrecision;
}

body {
  overflow-x: hidden;
  /* background: url(./assets/purple.webp) no-repeat right center fixed; */
  background: linear-gradient(
      180deg,
      rgb(129, 60, 172) 0%,
      rgb(21.34, 18.05, 45.9) 85%
    )
    no-repeat right center fixed;
}
button {
  background-color: transparent;
  border: none;
}
/* body::-webkit-scrollbar {
  display: none;
} */
